body {
    font-family: 'Source Sans Pro';
    color: #84C69B;
    background-color: #DBE2EF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Source Sans Pro";
    font-weight: 600;
}

h2 {
    font-size: 2.5rem;
    line-height: 1.5;
    width: 70%;
    margin: auto;
}

h3 {
    font-weight: bold;
    font-size: 1.2rem;
    font-weight: 900;
}

p {
    width: 70%;
    margin: 0 auto 1rem;
}

/* Heading */
.big-heading {
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.5;
}

